@model BHDT.Models.SanPham
@{

    //double sale = (double)Model.UuDai;// giảm giá bao nhiêu %
    double tien = (double)Model.DonGia;// giá tiền cũ
    //double tiensale = (double)(Model.DonGia) * (1 - (double)(Model.UU));// 1 tương đương 100%
    int like_index=0;
    
}

<style>
    .like {
        color: #00000030;
        cursor: pointer;
        font-size: 1.2em;
        margin: 0 5px 0 0;
    }
    .liked {
        font-size: 1.2em;
        margin: 0 5px 0 0;
    }
    i.liked-icon-fill {
        color: #f63d30;
        display: none;
    }

    .liked .liked-icon-fill {
        display: inline-block;
    }

    .liked .liked-icon-empty {
        display: none;
    }
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".like").click(function () {
  
             @if (like_index >=0)
             {
                 like_index++;                 
             }
              
            $(this).toggleClass("liked");
           
        });
    });
    $(document).ready(function () {
        $(".liked").click(function () {
             @if (like_index > 0)
             {
                 like_index--;
             }
             else if (like_index <= 0)
             {
                 like_index = 0;
             }
            $(this).toggleClass("like");
           
        });
    });
    // xu li van chuyen drop down
    /* Thêm hoặc xóa class show ra khỏi phần tử */
    function myFunction(id) {
        document.getElementById(id).classList.toggle("show");
    }
    //lấy tất cả các button menu
    var buttons = document.getElementsByClassName('product__shipping-to-cities');
    //lấy tất cả các thẻ chứa menu con
    var contents = document.getElementsByClassName('web-address-picker');
    //lặp qua tất cả các button menu và gán sự kiện
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function () {
            //lấy value của button
            var id = this.value;
            //ẩn tất cả các menu con đang được hiển thị
            for (var i = 0; i < contents.length; i++) {
                contents[i].classList.remove("show");
            }
            //hiển thị menu vừa được click
            myFunction(id);
        });
    }
    //nếu click ra ngoài các button thì ẩn tất cả các menu con
    window.addEventListener("click", function () {
        if (!event.target.matches('.product__shipping-to-cities')) {
            for (var i = 0; i < contents.length; i++) {
                contents[i].classList.remove("show");
            }
        }
    });

    //// xu li tim kiem form van chuyen
    //$(document).ready(function (e) {
    //    $('.search-panel .dropdown-menu').find('a').click(function (e) {
    //        e.preventDefault();
    //        var param = $(this).attr("href").replace("#", "");
    //        var concept = $(this).text();
    //        $('.search-panel span#search_concept').text(concept);
    //        $('.input-group #search_param').val(param);
    //    });
    //});

</script>




<div class="grid">
    <div class="row sm-gutter product">
        <!--phần left của row-product -->
        <div class="col l-5 c-12">
            <div class="product-slide">

                <img src="@Url.Content(Model.HinhAnh)" class="product__img">


                <!--tạo Thẻ card giới thiệu product-->
                <div class="product__cards product__cards-mobile">


                    <div class="product__cards-container">
                        <div class="product__card-wrapper">
                            <div class="product__card">
                                <img src="@Url.Content(Model.HinhAnh)" class="product__card-img">
                            </div>
                        </div>
                    </div>
                    <div class="product__cards-container">
                        <div class="product__card-wrapper">
                            <div class="product__card">
                                <img src="@Url.Content(Model.HinhAnh1)" class="product__card-img">
                            </div>
                        </div>
                    </div>
                    <div class="product__cards-container">
                        <div class="product__card-wrapper">
                            <div class="product__card">
                                <img src="@Url.Content(Model.HinhAnh2)" class="product__card-img">
                            </div>
                        </div>
                    </div>
                    <div class="product__cards-container">
                        <div class="product__card-wrapper">
                            <div class="product__card">
                                <img src="@Url.Content(Model.HinhAnh3)" class="product__card-img">
                            </div>
                        </div>
                    </div>
                    <div class="product__cards-container">
                        <div class="product__card-wrapper">
                            <div class="product__card">
                                <img src="@Url.Content(Model.HinhAnh4)" class="product__card-img">
                            </div>
                        </div>
                    </div>

                    <button class="product__cards-btn product__cards-btn--prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="product__cards-btn product__cards-btn--next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                    }
                </div>

                <!--Tạo icon kết nối chia sẻ (vd:facebook, google,..)-->
                <div class="product__actions hide-on-mobile-tablet">
                    <div class="product__sharing-icons hide-on-mobile-tablet">
                        <div class="text">Chia sẻ:</div>
                        <a href="#" class="product__action-icon messenger">
                            <i class="fab fa-facebook-messenger"></i>
                        </a>
                        <a href="#" class="product__action-icon facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="product__action-icon google">
                            <i class="fab fa-google-plus"></i>
                        </a>
                        <a href="#" class="product__action-icon pinterest">
                            <i class="fab fa-pinterest"></i>
                        </a>
                        <a href="#" class="product__action-icon twitter">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </div>
                    <div class="product__liking">
                        <a class="like">
                            <i class="liked liked-icon-empty far fa-heart"></i>
                            <i class="liked liked-icon-fill fas fa-heart"></i>
                        </a>
                      
                        <a class="text">Đã thích(@like_index.ToString())</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <!--phần Right của row-product -->
        <div class="col l-7 c-12">
            <div class="product-content">
                <!--tiêu đề sản phẩm-->
                <div class="product__title">
                    <div class="label-loving">
                        Yêu Thích
                    </div>
                    <span>
                        @Html.DisplayFor(model => model.TenSP)
                    </span>
                </div>
                <!--tình trạng sản phẩm-->
                <div class="product__status">
                    <div class="product__status-rating">
                        <div class="product__status-rating-point underscore">4.9</div>
                        <div class="product__status-rating-stars">
                            <i class="product__status-rating-star fas fa-star"></i>
                            <i class="product__status-rating-star fas fa-star"></i>
                            <i class="product__status-rating-star fas fa-star"></i>
                            <i class="product__status-rating-star fas fa-star"></i>
                            <i class="product__status-rating-star fas fa-star"></i>
                        </div>
                    </div>
                    <div class="product__status-reviewing hide-on-mobile">
                        <span class="product__status-reviewing-qnt underscore">78</span>
                        <span class="product__status-text pr-text">Đánh Giá</span>
                    </div>
                    <div class="product__status-sold">
                        <span class="product__status-sold-qnt">251</span>
                        <span class="product__status-text pr-text">Đã Bán</span>
                    </div>
                    <div class="product__liking">
                        <a class="like liked">
                            <i class="like-icon-empty far fa-heart"></i>
                            <i class="like-icon-fill fas fa-heart"></i>


                        </a>
                        <a class="text">@like_index.ToString()</a>
                    </div>
                </div>
                <!--giá cả-->


                <div class="product__price">
                    <div class="product__price-main">
                        <span class="product__price-current">@tien.ToString("###,#đ")</span>
                        @*<div class="product__price-current">
                                <span class="product__price-new">@tiensale.ToString("###,#đ")</span>
                                <span class="product__price-label bgr-orange">GIẢM @sale.ToString("#%")</span>
                            </div>*@
                    </div>
                </div>
                <!--thiết kế sản phẩm cho mobile-->
                <div class="product__info">
                    @*<div class="product__codes hide-on-mobile-tablet">
                            <label class="product__codes-label width-label">Mã Giảm Giá Của Shop</label>
                            <div class="product__codes-wrapper">
                                <div class="product__code">@sale.ToString("#%")</div>
                            </div>
                        </div>

                        <div class="product__combo hide-on-mobile-tablet">
                            <label class="product__combo-label width-label">Combo Khuyến Mãi</label>
                            <div class="product__combo-note"> @Html.DisplayFor(model => pro.UuDai)</div>
                        </div>*@

                    <div class="product__shipping">
                        <label class="product__shipping-label width-label">Vận Chuyển</label>
                        <div class="product__shipping-wrapper">
                            <div class="product__shipping-free">
                                <div class="product__shipping-free-icon-wrapper">
                                    <i class="product__shipping-free-icon fas fa-truck-loading"></i>
                                </div>
                                <div class="product__shipping-free-wrapper">
                                    <div class="product__shipping-free-title">Miễn Phí Vận Chuyển</div>
                                    <div class="product__shipping-free-note">
                                        Miễn Phí Vận Chuyển khi đơn đạt
                                        giá trị tối thiểu
                                    </div>
                                </div>
                            </div>

                            <div class="product__shipping-to">
                                <i class="product__shipping-to-icon-truck fas fa-truck"></i>
                                <div class="product__shipping-to-wrapper">
                                    <div class="product__shipping-to-destination">
                                        <label class="product__shipping-to-label">Vận Chuyển Tới</label>

                                        <div class="product__shipping-to-cities" id="vanchuyen">
                                            <div class="flex items-center">
                                                <div class="_1xdYod">
                                                    <div class="product__shipping-to-cities items-center">
                                                        <span class="product__shipping-to-city">
                                                            Huyện Ba Vì, Hà
                                                            Nội
                                                        </span>
                                                        <i class="product__shipping-to-icon fas fa-chevron-down"></i>
                                                    </div>
                                                    <div class="web-address-picker" style="display:none;">
                                                        <div class="web-address-picker__search-bar">
                                                            <input placeholder="tìm" value="">
                                                        </div>
                                                        <div class="web-address-picker__list-wrapper">
                                                            <ul class="web-address-picker__current-level-list" id="show">
                                                                <li class="web-address-picker__current-level-list-item">An Giang</li>
                                                                <li class="web-address-picker__current-level-list-item">An Giang</li>
                                                                <li class="web-address-picker__current-level-list-item">An Giang</li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product__shipping-to-fee">
                                        <label class="product__shipping-to-label">Phí Vận Chuyển</label>
                                        <div class="product__shipping-to-fee-wrapper">
                                            <div class="product__shipping-to-fees">₫10.500</div>
                                            <i class="product__shipping-to-icon fas fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="product__qnt hide-on-mobile">
                        <label class="product__qnt-label width-label">Số Lượng</label>
                        <div class="shop__qnt-btns">
                            <button class="shop__qnt-btn shop__qnt-btn--dec">
                                <i class="shop__qnt-btn-icon fas fa-minus"></i>
                            </button>
                            <input class="shop__qnt-input" type="text" value="1">
                            <button class="shop__qnt-btn shop__qnt-btn--inc">
                                <i class="shop__qnt-btn-icon fas fa-plus"></i>
                            </button>
                        </div>
                        @*<div class="product__qnt-note">
                                <span class="product__qnt-note-num">1100</span>
                                sản phẩm có sẵn
                            </div>*@
                    </div>

                    <div class="product-btns-main">
                        <button class="product-btn-main product-btn-main__msg clear-btn hide-on-tablet">
                            <i class="product-btn-main__msg-icon far fa-comment-dots"></i>
                        </button>
                        <button class="product-btn-main product-btn-main__adding">
                            <i class="product-btn-main__adding-icon fas fa-cart-plus"></i>
                            <span class="product-btn-main__text product-btn-main__adding-text hide-on-mobile">Thêm Vào Giỏ Hàng</span>
                        </button>
                        <button onclick="document.location.href=this.getAttribute('#');"
                                href="product-cart.html" class="product-btn-main product-btn-main__buying">
                            <span class="product-btn-main__text product-btn-main__buying-text">
                                Mua
                                Ngay
                            </span>
                        </button>
                    </div>
                </div>
                <!--Thời hạn bảo hành-->
                <div class="product__guarantee-container">
                    <a href="*" class="product__guarantee">
                        <div class="product__guarantee-wrapper">
                            <span>
                                <i class="product__guarantee-icon fas fa-clipboard-check"></i>
                            </span>
                            <div class="product__guarantee-text">DHQ Shop Đảm Bảo</div>
                        </div>
                        <span class="product__guarantee-note">3 Ngày Trả Hàng / Hoàn Tiền</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



