@model IEnumerable<BHDT.Models.DonHang>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MaLoaiTT)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.Email)
            </td>
            <td>

                @Html.DisplayFor(model => item.TinhtrangDH.TenTT)
            </td>
            <td>
                @{double tongtien = (double)item.CT_DonHang.Where(n => n.MaDDH == item.MaDDH).Sum(n => n.DonGia * n.SoLuong);}
                @tongtien
            </td>
            <td>
                @*@Html.ActionLink("Duyệt đơn hàng ", "DuyetDonHang", new { id = item.MaDDH }) |
                @Html.ActionLink("Xem Chi Tiết", "Details", new { id = item.MaDDH }) |*@

            </td>
        </tr>
    }

</table>
